<% if params[:page] == 1 %>
    <%= render :partial => 'article', :locals => {:article => @article_main, :featured => true} %>
<% end %>
<div class="b-tiles">
    <% if @articles.count > 0 %>
        <%= render :partial => 'article', :collection => @articles || 'No pubs.', :locals => {:widgets => @widgets} %>
    <% elsif params[:query] %>
        <p>По запросу <strong><%= params[:query] %></strong> ничего не найдено.</p>
    <% else %>
        <p>С текущими условиями фильтрации материалов не найдено.</p>
    <% end %>
</div>
<% if @articles.count > 0 && params[:page] != @articles.total_pages %>
    <div class="b-more"><a class="link c-article-link" href="#">Ещё</a></div>
<% end %>