<% content_for :body_class do %>l-award-page<% end %>

<% content_for :extra_head do %>
    <script type="text/javascript">
        $(function() {
            $('li.item.projects a.link')
                .addClass('selected')
                .html(function(i, html) {
                    return html + ' <b class="b-graphics b-graphics-down-arrow"><b></b></b>';
                });
        });
    </script>
<% end %>

<% content_for :left_column do %>
    <%= render :partial => 'social_links' %>
<% end %>

<% content_for :main_column do %>
                <div class="l-column-710">
                    <div class="b-share">
                        <img src="/img/tmp/likes.png" alt=""/>
                    </div><h1 class="b-separated-page-title">Проекты Фонда</h1>
                    <p>По макету еще возможно будет несколько изменений, например сейчас точно надо убрать подменю слева по проектам (достаточно перечня сверху и листинга). </p>
                    <ul>
                        <li>
                            По макету еще возможно будет несколько изменений: <a class="b-text-link" href="/projects/award/">Гайдаровский Форум</a>, <a class="b-text-link" href="/projects/award/">Гайдар-Клуб</a>.
                        </li>
                        <li>
                            Например, сейчас точно надо убрать подменю слева по проектам: <a class="b-text-link" href="/projects/award/">Летняя школа</a>.
                        </li>
                        <li>
                            Достаточно перечня сверху и листинга: <a class="b-text-link" href="/projects/award/">Премия им. Е.&nbsp;Т.&nbsp;Гайдара</a>.
                        </li>
                    </ul>
                    <p>По макету еще возможно будет несколько изменений, например сейчас точно надо убрать подменю слева по проектам (достаточно перечня сверху и листинга).</p>
                    <div class="l-wrapper">
                        <div class="l-column-220 l-intercolumn-24">
                            <div class="b-project">
                                <a class="b-project-link" href="/projects/award/"><h2 class="b-project-title">Название проекта</h2><em class="text">http://projecturl.gaidar.ru</em><img class="image" src="/img/tmp/project-1.png" alt=""/></a><h3 class="sub-title">Краткая суть проекта</h3>
                                <p class="desc">По макету еще возможно будет несколько изменений, например сейчас точно надо убрать подменю слева по проектам (достаточно перечня сверху и листинга). </p>
                                <h3 class="sub-title">Статус</h3>
                                <p class="desc">активен</p>
                                <h3 class="sub-title">Новости и публикации</h3>
                                <ul class="b-news">
                                    <li class="item">
                                        <div class="date">17&nbsp;октября 2012</div>
                                        <h3 class="title"><a class="link c-project-hidden-link" href="/publications/article.html?id=1">Идеолог изложил свою идеологию</a></h3>
                                    </li>
                                    <li class="item">
                                        <div class="date">11&nbsp;октября 2012</div>
                                        <h3 class="title"><a class="link c-project-hidden-link" href="/publications/article.html?id=2">Гул затих, я&nbsp;вышел на&nbsp;подмостки</a></h3>
                                    </li>
                                    <li class="item">
                                        <div class="date">29&nbsp;сентября 2012</div>
                                        <h3 class="title"><a class="link c-project-hidden-link" href="/publications/article.html?id=3">На&nbsp;сегодня новостей нет</a></h3>
                                    </li>
                                </ul>
                                <a class="b-text-link" href="/projects/award/">Все публикации проекта</a>
                            </div>
                        </div>
                        <div class="l-column-220 l-intercolumn-24">1</div>
                        <div class="l-column-220">1</div>
                    </div>
                </div>
<% end %>