<div class="l-intercolumn-66">
    <h2 class="b-section-label c-news-block"><a class="link" href="/publications/">Хроника</a></h2>
    <ul class="b-news b-news-separated">
        <li class="item">
            <div class="date">17&nbsp;октября 2012</div>
            <h3 class="title"><a class="link c-news-hidden-link" href="/publications/article.html?id=1">Идеолог изложил свою идеологию</a></h3>
        </li>
        <li class="item">
            <div class="date">11&nbsp;октября 2012</div>
            <h3 class="title"><a class="link c-news-hidden-link" href="/publications/article.html?id=2">Гул затих, я&nbsp;вышел на&nbsp;подмостки</a></h3>
        </li>
        <li class="item">
            <div class="date">29&nbsp;сентября 2012</div>
            <h3 class="title"><a class="link c-news-hidden-link" href="/publications/article.html?id=3">На&nbsp;сегодня новостей нет</a></h3>
        </li>
        <li class="item">
            <div class="date">17&nbsp;сентября 2012</div>
            <h3 class="title"><a class="link c-news-hidden-link" href="/publications/article.html?id=4">Спокойно, товарищ, спокойно</a></h3>
        </li>
        <li class="item">
            <div class="date">30&nbsp;августа 2012</div>
            <h3 class="title"><a class="link c-news-hidden-link" href="/publications/article.html?id=5">Границы ключ переломлен пополам, вся грязь превратилась в&nbsp;голый лёд</a></h3>
        </li>
        <li class="item">
            <div class="date">1&nbsp;июля 2012</div>
            <h3 class="title"><a class="link c-news-hidden-link" href="/publications/article.html?id=6">Григорий Сковорода: &laquo;мир ловил меня, да&nbsp;не&nbsp;поймал&raquo;</a></h3>
        </li>
    </ul>
</div>
