<% if show_filters %>
    <h2 class="b-navigation-title">Главное</h2>
    <div class="l-shift-20">
        <ul class="b-menu" id="articlesFiltration">
            <li class="item">
                <a class="link c-all-link" href="#">Все</a>
            </li>
            <% @articletypes.each do |type| %>
                <li class="item">
                    <%= link_to '<b class="b-graphics b-graphics-check"><b></b></b>'.html_safe + (type.name_plural or type.name), '/articles/', :class => "link c-article-link", :rel => type.id %>
                </li>
            <% end %>
            <li class="item">
                <a class="link disabled c-news-link" href="?menu-22"><b class="b-graphics b-graphics-check"><b></b></b>Новости</a>
            </li>
            <li class="item">
                <a class="link disabled c-about-link" href="?menu-22"><b class="b-graphics b-graphics-check"><b></b></b>Отчеты</a>
            </li>
            <li class="item">
                <a class="link disabled c-article-link" href="?menu-22"><b class="b-graphics b-graphics-check"><b></b></b>Разбор архивных документов</a>
            </li>
            <li class="item">
                <a class="link disabled c-project-link" href="?menu-22"><b class="b-graphics b-graphics-check"><b></b></b>Глубокое чтение</a>
            </li>
            <li class="item">
                <a class="link disabled c-article-link" href="?menu-22"><b class="b-graphics b-graphics-check"><b></b></b>Интервью</a>
            </li>
        </ul>
    </div>
<% end %>
<script type="text/javascript">
   <% if defaults %>
        $(function() {
            $.extend(filtration.data, <%= defaults.to_json.html_safe %>);
            filtration.reload();
        });
    <% end %>

    $('#articlesFiltration a').each(function() {

    });
    $('#articlesFiltration a').click(function() {
        $('#articlesFiltration a').not(this).addClass('disabled');
        filtration.data.type_ids = [$(this).removeClass('disabled').attr('rel')].join(',');
        filtration.data.page = 1;
        filtration.reload();
        return false;
    });

    var filtration = {
        per_page: <%= Article.per_page %>,
        data: {
            page: 1
        },
        init: function(data) {
            this.data = data;
        },
        reload: function() {
            $.ajax({
                url: '<%= articles_path %>',
                data: this.data,
                beforeSend: function() {},
                success: function(response) {
                    if(filtration.data.page == 1) {
                        $('#articlesList').html(response);
                        $('#articlesList .b-tiles').masonry({
                            itemSelector: '.b-tiles-item'
                        });
                        $('#articlesList .b-more a').click(function() {
                            filtration.data.page++;
                            filtration.reload();
                            return false;
                        });
                    } else {
                        $('#articlesList .b-tiles').append(response).masonry('reload');
                    }
                    // check ammount of items and hide 'more' link
                    if($('.b-tiles-item,.b-featured-article', '<div>' + response + '</div>').length < filtration.per_page) {
                        $('#articlesList .b-more').remove();
                    }
                }
            });
        }
    }
</script>