<% if show_filters %>
    <div id="filter">
        <h2 class="b-navigation-title">Главное</h2>
        <div class="l-shift-20">
            <ul class="b-menu" id="articlesFiltration">
                <li class="item">
                    <a class="link b-text-link disabled" href="#"><b class="b-graphics b-graphics-check"><b></b></b>Все</a>
                </li>
                <% @articletypes.each do |type| %>
                    <li class="item">
                        <%= link_to '<b class="b-graphics b-graphics-check"><b></b></b>'.html_safe + (type.name_plural or type.name), articletype_path(type), :class => "link b-text-link", :rel => type.id %>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
<% end %>
<script type="text/javascript">
    $(function() {
        filtration.init(<%= defaults.to_json.html_safe %>);
    });

    var filtration = {
        data: {
            page: 1
        },
        init: function(data) {
            $.extend(this.data, data);
            this.reload();
            this.initFilters();
        },
        initFilters: function() {
            $('#articlesFiltration a').click(function() {
                $('#articlesFiltration a').not(this).addClass('disabled');
                filtration.data.type_ids = [$(this).removeClass('disabled').attr('rel')].join(',');
                filtration.data.page = 1;
                filtration.reload();
                return false;
            });
        },
        reload: function() {
            $.ajax({
                url: '<%= articles_path %>',
                data: this.data,
                beforeSend: function() {},
                success: function(response) {
                    if(filtration.data.page == 1) {
                        var newItems = $(response).filter('div');
                        newItems.css({opacity: 0});
                        $('#articlesList').html(newItems);
                        newItems.animate({opacity: 1});
                        $('#articlesList .b-tiles').masonry({
                            itemSelector: '.b-tiles-item'
                        });
                        $('#articlesList .b-more a').click(function() {
                            filtration.data.page++;
                            filtration.reload();
                            return false;
                        });
                    } else {
                        var newItems = $(response).find('.b-tiles-item');
                        newItems.css({opacity: 0}).appendTo($('#articlesList .b-tiles'));
                        newItems.animate({opacity: 1});
                        $('#articlesList .b-tiles').masonry('appended', newItems, true);
                    }
                    if($(response).filter('.b-more').length == 0) {
                        $('#articlesList .b-more').remove();
                    }
                }
            });
        }
    }
</script>