<% if show_filters %>
    <div id="filter">
        <h2 class="b-navigation-title">Главное</h2>
        <div class="l-shift-20">
            <ul class="b-menu" id="articlesFiltration">
                <li class="item">
                    <a class="link b-text-link disabled" href="#"><b class="b-graphics b-graphics-check"><b></b></b>Все</a>
                </li>
                <% @articletypes.each do |type| %>
                    <li class="item">
                        <%= link_to '<b class="b-graphics b-graphics-check"><b></b></b>'.html_safe + type.name_plural, articletype_path(type), :class => "link b-text-link", :rel => type.id %>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
<% end %>
<script type="text/javascript">
    $(function() {
        filtration.init(<%= defaults.to_json.html_safe %>);
    });

    var filtration = {
        show_filter_counts: false,
        data: {
            page: 1
        },
        initial_data: {},
        init: function(data) {
            $.extend(filtration.data, data);
            filtration.initial_data = $.extend({}, filtration.data);
            filtration.reload();
            filtration.initFilters();
            filtration.initSearch();
        },
        initFilters: function() {
            $('#articlesFiltration a').click(function() {
                $('#articlesFiltration a').not(this).addClass('disabled');
                var type_id = $(this).removeClass('disabled').attr('rel');
                if(type_id) {
                    $.extend(filtration.data, {
                        type_ids: type_id,
                        page: 1
                    });
                } else {
                    filtration.data = $.extend({}, filtration.initial_data);
                }
                filtration.reload();
                return false;
            });
        },
        initSearch: function() {
            if(document.location.pathname == '<%= search_path %>') {
                $('form#searchForm').submit(function() {
                    filtration.data.query = $('#f-query').val();
                    filtration.data.page = 1;
                    filtration.reload();
                    return false;
                });
            }
        },
        reload: function() {
            $.ajax({
                url: '<%= articles_path %>',
                data: this.data,
                dataType: 'json',
                beforeSend: function() {},
                success: function(response) {
                    var content = response.content;

                    // show filter counts
                    if(filtration.show_filter_counts) {
                        $('#articlesFiltration li.item').show();
                        $.each(response.types_count, function(id, count) {
                            var jLink = $('#articlesFiltration a.link[rel="'+id+'"]');
                            if(count) {
                                jLink.html(function(i, old) {
                                    return old.replace(/ \(\d+\)$/, '') + ' ('+count+')';
                                });
                            } else {
                                jLink.parent().hide();
                            }
                        });
                    }

                    if(filtration.data.page == 1) {
                        var newItems = $(content).filter('div');
                        newItems.css({opacity: 0});
                        $('#articlesList').html(newItems);
                        newItems.animate({opacity: 1});
                        filtration.first_announce();
                        $('#articlesList .b-tiles').masonry({
                            itemSelector: '.b-tiles-item'
                        });
                        $('#articlesList .b-more a').click(function() {
                            filtration.data.page++;
                            filtration.reload();
                            return false;
                        });
                    } else {
                        var newItems = $(content).find('.b-tiles-item');
                        newItems.css({opacity: 0}).appendTo($('#articlesList .b-tiles'));
                        newItems.animate({opacity: 1});
                        $('#articlesList .b-tiles').masonry('appended', newItems, true);
                    }
                    if($(content).filter('.b-more').length == 0) {
                        $('#articlesList .b-more').remove();
                    }
                }
            });
        },
        first_announce: function() {
            var item = $('#articlesList .b-tiles-item .b-section-label:contains("Лекция"):first').closest('.b-tiles-item');
            $(item)
                .addClass('b-article-highlighted')
                .addClass('c-project-block')
            $('.b-section-label', item).attr('class', 'b-section-label').text('Ближайшая');
        }
    }
</script>