<h2 class="b-navigation-title">Главное</h2>
<div class="l-shift-20">
    <ul class="b-menu">
        <li class="item">
            <a class="link c-all-link" href="?menu-21">Все</a>
        </li>
        <li class="item">
            <a class="link disabled c-news-link" href="?menu-22"><b class="b-graphics b-graphics-check"><b></b>
                </b>Новости</a>
        </li>
        <li class="item">
            <a class="link disabled c-about-link" href="?menu-22"><b class="b-graphics b-graphics-check"><b></b>
                </b>Отчеты</a>
        </li>
        <li class="item">
            <a class="link disabled c-article-link" href="?menu-22"><b class="b-graphics b-graphics-check"><b></b>
                </b>Разбор архивных документов</a>
        </li>
        <li class="item">
            <a class="link disabled c-project-link" href="?menu-22"><b class="b-graphics b-graphics-check"><b></b>
                </b>Глубокое чтение</a>
        </li>
        <li class="item">
            <a class="link disabled c-article-link" href="?menu-22"><b class="b-graphics b-graphics-check"><b></b>
                </b>Интервью</a>
        </li>
        <li class="item">
            <a class="link c-article-link" href="?menu-22"><b class="b-graphics b-graphics-check"><b></b>
                </b>Видео</a>
        </li>
        <li class="item">
            <a class="link disabled c-article-link" href="?menu-22"><b class="b-graphics b-graphics-check"><b></b>
                </b>Переводы рецензий книг</a>
        </li>
        <li class="item">
            <a class="link disabled c-gaidar-link" href="?menu-22"><b class="b-graphics b-graphics-check"><b></b>
                </b>Гайдар-клуб</a>
        </li>
        <li class="item">
            <a class="link disabled c-project-link" href="?menu-22"><b class="b-graphics b-graphics-check"><b></b>
                </b>Гайдаровские чтения</a>
        </li>
        <li class="item">
            <a class="link disabled c-project-link" href="?menu-22"><b class="b-graphics b-graphics-check"><b></b>
                </b>ЦНСИ</a>
        </li>
        <li class="item">
            <a class="link disabled c-project-link" href="?menu-22"><b class="b-graphics b-graphics-check"><b></b>
                </b>События на подпроектах</a>
        </li>
        <li class="item">
            <a class="link disabled c-gaidar-link" href="?menu-22"><b class="b-graphics b-graphics-check"><b></b>
                </b>Жизнь Фонда</a>
        </li>
    </ul>
</div>