<div class="b-award-header">
    <h1 class="title"><a class="link" href="<%= project_path(project) %>"><span class="text">Премия Егора Гайдара 2012</span></a></h1>
    <div class="event">
        <strong class="date">15 ноября —</strong>
        церемония награждения
    </div>
    <p class="label">
        Статуэтка премии.
        <br/>
        Авторы:
        <br/>
        Андрей Балашов и&nbsp;Вячеслав Бухаев
    </p>
</div>