<div class="facebook">
    <a class="addthis_button_facebook_like" fb:like:width="75" fb:like:layout="button_count" fb:like:language="ru_RU"></a>
</div>
<div class="vkontakte">
   <div id="vk_like<%= @vk = @vk ? @vk+1 : 1 %>"></div>
</div>
<div class="google">
    <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4eb27b337e0055e1"></script>
<script type="text/javascript">
  if (window['VK'] != undefined) {
    VK.Widgets.Like("vk_like<%= @vk %>", {type: "mini", verb: 1});
  }
  $('.facebook,.vkontakte,.google').css({float: 'left'});
  setTimeout("$('.facebook').css({width: 140});", 1000);
  setTimeout("$('.vkontakte').css({width: 95});", 1000);
  setTimeout("$('.google').css({width: 40});", 1000);
</script>