<% content_for :main_column do %>
    <div class="l-column-710">
        <%= content_for?(:content) ? yield(:content) : yield %>
        <div class="l-column-210">
            <%= yield(:right_column) %>
        </div>
    </div>
<% end %>

<%= render :template => 'layouts/application' %>